<!DOCTYPE html>
<html>
    <head>
        <title>Conjugation Practice</title>
         <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="w-full">
            <h1 class="text-4xl">Change the Verb Practice</h1>
            <div class="grid grid-cols-3">
            <div class="border">
                <p class="text-center">play/plays</p>
                {% for subject in list1  %}
                <div class="grid grid-cols-4 divide-y">
                    <p class="col-span-1 border py-2">{{subject}}</p>
                    <input class="col-span-3 py-2" />
                </div>
                
                {% endfor %}
            </div>
            <div class="border">
                <p class="text-center">brush/brushes</p>
                {% for subject in list2  %}
                <div class="grid grid-cols-4">
                    <p class="col-span-1 border py-2">{{subject}}</p>
                    <p class="col-span-3 border py-2"></p>
                </div>
                {% endfor %}
            </div>
            <div class="border">
                <p class="text-center">try/tries</p>
                {% for subject in list3  %}
                <div class="grid grid-cols-4">
                    <p class="col-span-1 border py-2">{{subject}}</p>
                    <p class="col-span-3 border py-2"></p>
                </div>
                {% endfor %}         
                </div>
            </div>
        </div>
    </body>
</html>